# CODEOWNERS
# These owners are the default for everything in the repo.
# Order matters; the last matching pattern takes precedence.

*               @007saurabhvashistha

/apps/web/      @007saurabhvashistha
/services/api/  @007saurabhvashistha
/docs/          @007saurabhvashistha
/.github/       @007saurabhvashistha
